
body {
    width: 480px;
    height: 320px;
    margin: 0 auto;
    background-color: white;
}

#level-select {
    top: 60;
    position: absolute;
    width: 480px;
    height: 320px;
    overflow-y: auto;
}

.levelSelectButton {
    width: 100px;
    height: 100px;
    float: left;
    margin: 15px;
}

#gameCanvas {
    top: 0;
    position: absolute;
    display: none;
}